.button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #676e53;
    background-color: #e2e9d0;
    color: #676e53;
    border-radius: 10px;
    transition: all 300ms ease-out;
    cursor: pointer;
    user-select: none;
}