.flexbox-helper__control-panel {
    display: flex;
    padding: 20px 0 10px 0;
}

.flexbox-helper__control-panel-button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}